.box:hover .imgBox {
    transform: translate(3.5rem, 3.5rem);
}

.box:hover .content {
    transform: translate(-3.5rem, -3.5rem);
}

.imgBox{
    transition: all 0.5s ease-in-out;
    position: absolute;
    height: 224px;
    width: 224px;
    z-index: 2;
}

.imgBox img {
    border-radius: 35px;
    border: 5px solid #73AD21;
    object-fit: cover;
    resize: both;
    width: 224px;
    height: 224px;
}

.box {
    position: absolute;
    height: 224px;
    width: 224px;
}

.content{
    background-color: rgb(175, 215, 111);
    transition: all 0.5s ease-in-out;
    border-radius: 35px;
    border: 5px solid #73AD21;
    object-fit: cover;
    resize: both;
    width: 224px;
    height: 224px;
}

#A {
    top: 100px;
    left: 50px;
}

#B {
    top: 100px;
    left: 600px;
}

#C {
    top: 100px;
    left: 1200px;
}

body{
    background-color: aqua;
}
