#egg:target{
    opacity: 100%;
    transform: scaleY(750) scaleX(2)
}




body{
    background-color: aqua;
}

nav{
    background-color: red;
    height: 40px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFAD60;
    align-items: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #ff9d41;
  }
  
  li a:hover:not(.active) {
    background-color: #c18347;
  }

  .active {
    background-color: #04AA6D;
  }

